html {
  font-size: 14px;
  height: 100%; }
  html body {
    height: 100%;
    background-color: #F5F7FA;
    direction: ltr; }
    html body.fixed-navbar {
      padding-top: 4rem; }
    html body .content {
      padding: 0;
      position: relative;
      transition: 300ms ease all;
      backface-visibility: hidden;
      min-height: calc(100% - 32px); }
      html body .content.app-content {
        overflow: hidden; }
      html body .content .content-wrapper {
        padding: 1.8rem; }
        html body .content .content-wrapper .content-header-title {
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px;
          color: #1B2942; }
    html body[data-col="1-column"]:not(.vertical-content-menu) .content,
    html body[data-col="1-column"]:not(.vertical-content-menu) .footer {
      margin-left: 0px !important; }
    html body[data-col="1-column"].horizontal-layout .content,
    html body[data-col="1-column"].horizontal-layout .footer {
      margin: 0 auto !important; }
    html body.boxed-layout {
      padding-left: 0;
      padding-right: 0; }
    html body.bg-full-screen-image {
      background: url(img/bg-2.jpg) no-repeat center center fixed;
      background-size: cover; }
    html body .pace .pace-progress {
      background: #4ACACC; }